*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins',sans-serif;
    scroll-behavior: smooth;
}
body{
    color: #ededed;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; 
    background:linear-gradient(#0802A3,#EA1179);
    
}
.logo{
    position: relative;
    font-size: 29px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: slideRight is ease forwards; 
}
.navbar a {
    display: inline-block;
    font-size: 25px;
    color:wheat;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color: rgb(221, 10, 140);
    
}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background:url(AS.jpg) ; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 10%;   
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3 span{
    color: #0ef;

}
.home-content h1{
    font-size: 50px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content{
    font-size: 20px;
    margin-top: 160px;
    
} 
.home-content p{
    color:gray;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0; 
    animation: slideRight 1s ease forwards; 
    animation-delay: calc(.2s * var(--i));  
    margin: 30px 15px 30px 0;
}
.home-sci a:hover{
    background:rgb(243, 4, 183) ;
    color: #081b29;
    box-shadow: 0 0 20px rgb(243, 4, 183); 
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: rgb(243, 4, 183);
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,0 0 25px cyan,0 0 50px cyan,0 0 100px cyan,0 0 200px cyan
}
.bar{
    font-size: 23px;
}
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.img{
    position: absolute;
    width: 70%;
    left: 65%;
    top: 30%;
    height: 50vh;
    width: 50vh;
    clip-path: circle();
    text-decoration: none;
    transition: .5s ease;
    opacity: 0; 
    animation: slideRight 1s ease forwards; 
    animation-delay: calc(.2s * var(--i));  
}
.AS-IMG{
    background-image: url(codioful-formerly-gradienta-m_7p45JfXQo-unsplash.jpg); 
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background:url(AS.jpg) ; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; 
}     
.btn-box:hover{
    box-shadow: 0 0 5px cyn,
    0 0 100px cyan,0 0 200px cyan,
    0 0 100px cyan,0 0 200px cyan;
}
.AS{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6rem;
}
.Sai{
    position: absolute;
    width: 70%;
    top: 10%; 
    height: 400px;
    width: 400px;
    border-radius: 50%;
}
.AS-IMG{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background:url(AS.jpg) ; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 5%;
}
.as-text{
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 500px;
    margin-bottom: 100px;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 90px;
}
.L{
    font-size: 60px;
    margin-bottom: 10px;
    color: #FFB000;
}
h4{
    font-size:30px ;
    margin-bottom: 20px;
    color: #DB005B;
}
p{ 
    margin-bottom: 30px;
    line-height: 1.4;
    color: #DAC0A3;
}
.ap-text{
    color: aqua;
    line-height: 1.4;
    margin-right: 900px;
}
.container1{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background:url(AS.jpg) ; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-top: 100px;
} 
.imag3{
    background:url(AS.jpg) ; 
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
}
.Akhil{
    display: flex;
    flex-wrap: wrap;  
}  
.bar{
    padding-top: 30px;
}
.Technical.bars .bar{
    margin-top: 40px 0 ;
}
.Technical-bars .bar:first-child{
    margin-top: 0;
}
.Technical-bars .bar:last-child{
    margin-bottom: 0;
}
.Technical-bars .bar .info{
    margin-bottom: 5px;
}
.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;

}
.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: black;
    animation: animate 1s 1s cubic-bezier(1,0,0,5,1) forwards;
    transform-origin: left; 
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.Technical-bars .bar.progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0,5,1) forwards;
    transform-origin: left; 
} 
section{
    display: flex;
    flex-wrap: wrap;
}
.container{
    width: 600px;
    height: 500px;
    padding: 75px 90px; 
    margin-left: 12px;
}  
.Technical-bars .bar .progress-liner {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1,0,0,5,1) forwards;
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
} 
.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0,5,1) forwards;
    transform-origin: left;
}    
.container3{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}    
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px; 
 } 
.bar{
    font-size: 23px;
}
 .progress-line.html span{
    width: 90%;
}
.progress-line.css span{
    width: 85%;
}
.progress-line.javascript span{
    width: 60%;
}
.progress-line.react span{
    width: 70%;
} 
.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
}   
.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards; 
}
.My{ 
    position: absolute;
    width: 70%;
    left: 55%;
    top: 12%;
    height: 90vh;
    width: 70vh;
}
.heading1{
    text-decoration: underline;
    font-size: 40px;
    
    
}
.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}
.redial-bars .radial-bar svg{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50,-50%)rotate(-90deg);
    width: 120px;
    height: 160px;
}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dashoffset: 502;
    stroke-dasharray: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;

}
@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 10;
    stroke-width: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dasharray: 502;
    stroke-linecap: round;
}   
.tech-bars-two{
    padding-bottom: 100px;
}
.three-two h2{
    color: white;
    text-decoration: underline;
    font-size: 40px;
    padding-right: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
 .tech-bar .progress-line-javascript{
    width: 190px;
    height: 2px;
    border-radius: 10px;
    border: 2px solid black;
    position: relative;
    left: 25px;
    top:20px;
}
.tech-bar .progress-line-reactjs{
    width: 190px;
    height: 2px;
    border-radius: 10px;
    border: 2px solid black;
    position: relative;
    left: 40px;
    top:20px;
}
.html{
    display:flex;
}
.css{
    display:flex;
}
.js{
    display: flex;
}
.react{
    display:flex;
}  
.three-two{
    padding-left: 700px;

}

.progress-line-html span{
    width: 90%;
    background-color: rgb(139, 138, 61);
    position: absolute;
    height: 100%;
    
} 
 .progress-line-css span{
    width: 90%;
    background-color: darkslateblue;
    position: absolute;
    height: 100%; 
 }
.progress-line-javascript span{
    width: 80%;
    background-color: darkslateblue;
    position: absolute;
    height: 100%;
}
.progress-line-reactjs span{
    width: 70%;
    background-color: darkslateblue;
    position: absolute;
    height: 100%;
} 
.three-two h2{
    display: flex;
    padding-bottom: 40px;
}
.tech-bars-two{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: larger;
    top: 10px;
    height: 60px;
}
.tech-bars-two svg{
    width: 70px;
    height: 70px;
    display:flex;
}
.tech-bars-two .progress-bar{
    width: 50%;
    height: 60px;
    position: relative;
}
.tech-bars-two .progress-bar svg{
    position: absolute;
    transform: translate(-50%,-50%) rotate(-90deg);
}
.tech-bars-two .progress-bar{
    stroke-width: 10;
    stroke:grey;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar {
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 10;
    stroke: darkslateblue;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{
    animation: animate-path1 1s 1s linear forwards;
}
.path-2{
    animation: animate-path2 1s 1s linear forwards;
}
.path-3{
    animation: animate-path3 1s 1s linear forwards;
}
.path-4{
    animation: animate-path4 1s 1s linear forwards;
}
@keyframes animate-path1 {
    100%{
        stroke-dashoffset: 50;
    }
}
@keyframes animate-path2 {
    100%{
        stroke-dashoffset: 50;
    }
}
@keyframes animate-path3 {
    100%{
        stroke-dashoffset: 125;
    }
}
@keyframes animate-path4 {
    100%{
        stroke-dashoffset: 100;
    }
}
.main-text{
    padding-top: 130px;
    margin-top: 200px;
}
.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
}
.main-text h2 span{
    color: #0ef;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(359px,auto));
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-evenly;
}
.row img{
    height: 500px; 
    width: 1000px;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
    justify-content: center;
} 
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(black,#0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    color: #000;
    font-size:20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
}
.layer i{
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}
.portfolio-content{
    padding-left: 90px;
    padding-top:20px ;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}
.contact-text h2{
    font-size: 70px;
    padding-bottom: 10px;
    line-height: 1;
    color: #ff004f;
}
.contact-text h2 span{
    color: #0ef;
}
.contact-text h4{
    margin: 15px 0;
    color: rgb(228,228,228);
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
    color: rgb(177,177,177);
    font-size: 20px;
    width:50%;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-form{
    padding-left: 840px;
    position: absolute;
    align-items: center;
    padding-top: 90px; 
    width: 70%;
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-listli a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background:transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation-delay: cala(.2s *var(--i));
}
.contact-icons i:hover{
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}
.contact-form form{
    position: relative;
}
.contact-form textarea{
    resize: none;
    height: 220px; 
}
.contact-form .name{
    height: 40px;
    width: 300px;
    border-radius: 10px;
}
.contact-form .email{
    height: 40px;
    width: 300px;
    border-radius: 10px;
}
.contact-form .sub{
    height: 40px;
    width: 300px;
    border-radius: 10px;
}
.contact-form .Messages{
    height: 200px;
    width: 300px;
    border-radius: 10px;
}
.contact-form form .send{
    display: inline-block;
    padding: 14px 120px; 
    background:#0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.contact-form form .send:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan;
}
.last-text p{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background:#210062;
    font-weight: 300;
    margin-top: px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2,1rem;
}
.top i{
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}
.last-text{
    background: #C683D7;
}

